<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="text">
    <input v-model="username">
    {{username}}
    <br>
    <a v-bind:href="url">点击一下</a>
    <a :href="url">点击一下</a>
    <br>
    <input v-model="url">
    <br>
    <input type="button" value="按钮" v-on:click="show()">
    <input type="button" value="按钮" @click="show()">
    <br>
    <div v-if="count==1">div1</div>
    <div v-else-if="count==2">div2</div>
    <div v-else>div3</div>
    <input v-model="count">
    <br>
    <div v-show="count==3">div3 v-show</div>
    <div v-for="addr in addrs">
        {{addr}}&nbsp;
    </div>
    <div v-for="(addr,i) in addrs">
        {{i+1}}--{{addr}}&nbsp;
    </div>
</div>
<script src="vue.js"></script>
<script>
    new Vue({
        el: "#text",
        data() {
            return {
                username: "",
                url: "https://www.baidu.com",
                count: 3,
                addrs: ["北京", "上海", "西安"]
            }
        },
        methods: {
            show() {
                alert("点击事件触发")
            }
        },
        mounted(){
            alert("vue挂载完毕,发送异步请求");
        }
    })
</script>
</body>
</html>