<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ewk.code15.mapper.BrandMapper">
    <!-- resultMap-->
    <resultMap id="brandResultMap" type="ewk.code15.data.Brand">
        <id column="id" property="id"/>
        <result column="brandName" property="brandName"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="introduce" property="introduce"/>
    </resultMap>

    <delete id="deleteByIds">
        DELETE FROM sheet WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}
        </foreach>;
    </delete>


    <select id="selectByConditionTotalCount" parameterType="brand" resultType="java.lang.Integer">
        select count(*) from sheet
        <where>
            <if test="brand.id != null">and id = #{brand.id}</if>
            <if test="brand.brandName != null and brand.brandName!=''">or brandName like #{brand.brandName}</if>
            <if test="brand.enterpriseName != null and brand.enterpriseName!=''">or enterpriseName like #{brand.enterpriseName}</if>
        </where>
    </select>
    <select id="selectByPageAndCondition" parameterType="brand" resultMap="brandResultMap">
        select * from sheet
        <where>
            <if test="brand.id != null">and id = #{brand.id}</if>
            <if test="brand.brandName != null and brand.brandName!=''">or brandName like #{brand.brandName}</if>
            <if test="brand.enterpriseName != null and brand.enterpriseName!=''">or enterpriseName like #{brand.enterpriseName}</if>
        </where>
        limit #{begin},#{size}
    </select>
</mapper>